.App {
  text-align: center;
}
.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  justify-content: space-around;
 
}
.bottom-element {
  position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --colour-styleslabel-colour: rgba(18, 18, 18, 1);
  --colour-stylesneutral-colourblack: rgba(0, 0, 0, 1);
  --colour-stylesneutral-colourgray-2: rgba(121, 121, 121, 1);
  --colour-stylesneutral-colourgray-4: rgba(217, 217, 217, 1);
  --colour-stylesneutral-colourwhite: rgba(255, 255, 255, 1);
  --colour-stylesprimary-colourprimary-100: rgba(18, 149, 117, 1);
  --colour-stylesprimary-colourprimary-80: rgba(113, 177, 161, 1);
  --text-style-header-text-bold-font-family: "Poppins-SemiBold", Helvetica;
  --text-style-header-text-bold-font-size: 30px;
  --text-style-header-text-bold-font-style: normal;
  --text-style-header-text-bold-font-weight: 600;
  --text-style-header-text-bold-letter-spacing: 0px;
  --text-style-header-text-bold-line-height: normal;
  --text-style-large-text-bold-font-family: "Poppins-SemiBold", Helvetica;
  --text-style-large-text-bold-font-size: 20px;
  --text-style-large-text-bold-font-style: normal;
  --text-style-large-text-bold-font-weight: 600;
  --text-style-large-text-bold-letter-spacing: 0px;
  --text-style-large-text-bold-line-height: normal;
  --text-style-normal-text-bold-font-family: "Poppins-SemiBold", Helvetica;
  --text-style-normal-text-bold-font-size: 16px;
  --text-style-normal-text-bold-font-style: normal;
  --text-style-normal-text-bold-font-weight: 600;
  --text-style-normal-text-bold-letter-spacing: 0px;
  --text-style-normal-text-bold-line-height: normal;
  --text-style-small-text-regular-font-family: "Poppins-Regular", Helvetica;
  --text-style-small-text-regular-font-size: 14px;
  --text-style-small-text-regular-font-style: normal;
  --text-style-small-text-regular-font-weight: 400;
  --text-style-small-text-regular-letter-spacing: 0px;
  --text-style-small-text-regular-line-height: normal;
  --text-style-smaller-text-regular-font-family: "Poppins-Regular", Helvetica;
  --text-style-smaller-text-regular-font-size: 11px;
  --text-style-smaller-text-regular-font-style: normal;
  --text-style-smaller-text-regular-font-weight: 400;
  --text-style-smaller-text-regular-letter-spacing: 0px;
  --text-style-smaller-text-regular-line-height: normal;
  --white-0: rgba(255, 255, 255, 1);
}

